
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.top-box{
	width: 960px;
	height: 420px;
	/*background-color: red;*/
	margin: auto auto;
	background-color:  red;
}
/**文字の入力バー移動できない
*/

.list {
	width: 960px;
	height: 60px;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;

}

.list:nth-child(even) {
	background-color: white;

}

.list:nth-child(odd) {
	background-color: #eeeeee;

}

.bottom-box {
	width: 960px;
	height: 730px;
	/*background-color: blue;*/
	margin: 0 auto 50px auto;
}



.bottom-box .content {
	width: 30%;
	height: 200px;
	background-color: #ffd700;
	float: left;

}

.bottom-box .content:nth-child(1) {
	background-color: orange;
}

.bottom-box .content:nth-child(5) {
	background-color: orange;
}
.bottom-box .content:nth-child(9) {
	background-color: orange;
}

.bottom-box .content-side-top {
	margin-top: 50px;

}
.bottom-box .content-side {
	margin-top: 40px;

}

.bottom-box .content-center-top {
	margin: 50px 5% 0 5%;

}
.bottom-box .content-center {
	margin: 40px 5% 0 5%;

}








